VITE_SUPABASE_URL=https://crtusnaklhwepfvhykzx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNydHVzbmFrbGh3ZXBmdmh5a3p4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU0Mjc4MjksImV4cCI6MjEwMTAwMzgyOX0.e9bEcU8xzHPdt5h1VbaEjKAbk4Ot1_YjhJI2rwbXYkQ
